@font-face {
 font-family: "Roboto Black";
 src: url(../fonts/Roboto-black.ttf);
}

@font-face {
	font-family: "Open Sans Semibold";
	src: url(../fonts/open-sans-semibold.ttf);
   }


:root {
	--blue: #14afca;
	--grey: #424f57;
  }

.container {
 width: 1000px;
 margin: 0 auto;
}

.page-header {
 background: url("../img/skyscrapers.jpg") rgba(0, 0, 0, 0.8) no-repeat center;
 background-size: cover;
 background-blend-mode: multiply;
 background-attachment: fixed;
 height: 50vh;
 padding: 315px 0 420px;
 text-align: center;
 position: relative;
  
}

.triangle{
	position: absolute;
	bottom: 0;
	height: 170px;
	width: 100%;
 	background: linear-gradient(-7deg, #fff 40%, transparent 0),  linear-gradient(7deg, #fff 40%, transparent 0); 
}

.triangle-bottom{
	position: absolute;
	top: 0;
	height: 170px;
	width: 100%;
	background: url('../img/triangle.svg') center;
	background-repeat: no-repeat;
	background-size: cover;
}
.nav-menu {
 position: absolute;
 top: 30px;
 right: 0;
 left: 0;
 display: flex;
 background-color: #fff;
 padding: 40px 0 38px;
}

.nav-link {
 display: inline-block;
 margin-right: 60px;
 font-size: 15px;
 font-family: "Open Sans", sans-serif;
 font-weight: 700;
 letter-spacing: 0.75px;
 color: #3e4c4e;
 text-transform: uppercase;
 text-decoration: none;
}

.nav-link-active {
 color: var(--blue);
}

.nav-link:active,
.nav-link:hover {
 color: var(--blue);
}

.slogan {
 font-family: "Open Sans", sans-serif; /*need to be Futura, didn't find for free */
 text-transform: uppercase;
 color: #fff;
 font-size: 52px;
 font-weight: 700;
 line-height: 75px;
}

.section-title {
 font-family: Roboto, sans-serif;
 font-size: 60px;
 font-weight: 700;
 color: var(--blue);
 line-height: 75px;
 text-transform: uppercase;
}

.page-section {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.nav-menu-wrapper {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.company-name {
 font-family: Roboto, sans-serif;
 color: var(--grey);
 font-size: 36px;
 font-weight: 300;
}

.company-name_big {
 font-family: 'Roboto Black', sans-serif;
 color: var(--blue);
 text-transform: uppercase;
}

.section_what{
	position: relative;
}
.section-slogan{
	font-family: "Open Sans Semibold", sans-serif;
	font-weight: 600;
	letter-spacing: 0.9px;
	font-size: 18px;
	line-height: 40px;
	color: var(--grey);
	margin-bottom: 42px;
}

.section-paragraph{
	color: var(--grey);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}

.section_company{
 background: url("../img/office.jpg") rgba(0, 0, 0, 0.92) no-repeat center;
 background-size: cover;
 background-blend-mode: multiply;
 background-attachment: fixed;
 padding: 251px 0 77px;
 text-align: center;
 position: relative;
 
}

.text-white{
	color: #fff;
}

.partners-links{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
}
.partner{
	margin-right: 50px;
	margin-bottom: 120px;
}

.partner:nth-child(4n){
	margin-right: 0;
}

.employee{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.employees-links{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.emloyee-quote{
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 28px;
	color: var(--grey);
	margin-top: 27px;
}

.section_meet-us{
	padding: 93px 0 15px;
	position: relative;
}
.section_testimonials{
	background: url("../img/testimonials.jpg") rgba(0, 0, 0, 0.8) no-repeat center;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	padding: 251px 0 165px;
	position: relative;
}
.section_testimonials .section-paragraph{
	color: #d3cccc;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	line-height: 28px;
	margin: 1px 0 25px;
}
.quote-author{
	font-size: 18px;
	font-family: "Open Sans Semibold", sans-serif;
	line-height: 24px;
	letter-spacing: 0.45px;
	font-style: italic;
	color: #fff;
	align-self: flex-end;
	margin-right: 100px;
}

.why-description{
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	font-size: 30px;
	color: var(--grey);
	font-weight: 700;
	margin-top: 13px;
	text-align: center;
	width: 780px;
	
}
.section_why{
	padding: 114px 0;
}
.footer-copyright{
	color: #3d3c3c;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	width: 386px;
	margin: 0 auto;
	text-align: center;
}
.footer-copyright_bold{
	font-size: 16px;
	font-weight: 700;
}
.page-footer{
	padding-bottom: 104px;
}
